UseTab: Never
IndentWidth: 4
ColumnLimit: 120
BasedOnStyle: WebKit
SortIncludes: true
PointerAlignment: Right
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: true
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterReturnType: TopLevelDefinitions
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false

AlignConsecutiveDeclarations: 
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
